:root {
    --md-primary-fg-color:        #167c80;
    --md-primary-fg-color--light: #167c80;
    --md-primary-fg-color--dark:  #167c80;
    --md-primary-bg-color:        #F1F1F1; 
    --md-primary-bg-color--light: #F1F1F1;  
    --md-accent-fg-color:         #167c80;
  }

  a:hover {
    text-decoration: underline;
  }
  